/* xyz.css */

.heading-box,
.author-box {
  background-color: #1f1e33; /* Use background-color to set a solid background color */
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  border: 10px solid #1f1e33;
  margin: 100px;
}
